{% extends 'shortener/base.html' %}

{% block content %}
<div class="row">
    <div class="col pt-4 pb-5 text-white form-shortener">
        <div class="shortener">
            <h2 class="font-weight-light">Simplify your links</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-10">
                        {% for field in form.visible_fields %} {{ field }} {% endfor %}
                    </div>
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-outline-light">Shorten URL</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if valid is not True %}
                        <script>
                            document.getElementsByClassName('form-control')[0].className += " is-invalid"
                        </script>
                        <div class="invalid-feedback" style="display: block !important;">
                            Invalid URL for this field.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="table-responsive text-secondary list-link">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Original URL</th>
                    <th scope="col">Created</th>
                    <th scope="col">Short URL</th>
                    <th scope="col">All Clicks</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls_display %}
                <tr>
                    <td scope="row">
                        <a href="{{ url.url }}" target="_blank">{{ url.url|truncatechars:50 }}</a>
                    </td>
                    <td>{{ url.timestamp }}</td>
                    <td>
                        <a onclick="getClickCount(this);" class="{{ url.short_code }}" href="{{ url.get_short_url }}" target="_blank">rutgonlink.herokuapp.com/{{url.short_code}}</a>
                    </td>
                    <td class="{{ url.short_code }}">{{ url.clickcount.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <nav>
            <ul class="pagination justify-content-center">
                {% if urls_display.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="javascript:;">{{ urls_display.number }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if urls_display.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ urls_display.paginator.num_pages }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function getClickCount(e){
        $.ajax({
            method: 'GET',
            url: '/shortener/' + e.className,
            success: (data) => {
                e.parentElement.parentElement.getElementsByTagName('td')[3].innerHTML = data['clickcount'];
            },
            error: (error) => {
                console.log(error);
            }
        });
    }
</script>
{% endblock %}