.options-button {
    opacity: 0;
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
    display: inline-block;
    border-width: 0;
    cursor: pointer;
}

tr:hover .options-button {
    opacity: 1;
}

td {
    vertical-align: middle !important;
}

i {
    vertical-align: middle;
    color: #444444;
}

tr > td:nth-child(4) > a:hover {
    text-decoration: none;
    font-weight: 500;
}